Alex Rockhill <aprockhill@mailbox.org>
Basile Pinsard <basile.pinsard@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu> <effigies@gmail.com>
Cyril Pernet <wamcyril@gmail.com>
David Nishikawa <david@squishymedia.com>
David Nishikawa <david@squishymedia.com> <28666458+DaNish808@users.noreply.github.com>
Dianne Patterson <dkp@email.arizona.edu>
Dimitri Papadopoulos Orfanos <3234522+DimitriPapadopoulos@users.noreply.github.com>
Dora Hermes <hermes.dora@mayo.edu>
Etienne Bergeron <etienne-1.bergeron@polymtl.ca>
Etienne Bergeron <etienne-1.bergeron@polymtl.ca> <79805277+etiennebergeron@users.noreply.github.com>
Horea Christian <chr@chymera.eu>
Horea Christian <chr@chymera.eu> <horea.christ@yandex.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com>
Marie-Helene Bourget <bourgetmarieh@gmail.com>
Marie-Helene Bourget <bourgetmarieh@gmail.com> <54086142+mariehbourget@users.noreply.github.com>
Martin Norgaard <martin.noergaard@nru.dk>
Max van den Boom <m.a.vandenboom84@gmail.com>
Max van den Boom <m.a.vandenboom84@gmail.com> <43676624+MaxvandenBoom@users.noreply.github.com>
Nell Hardcastle <nell@dev-nell.com>
Nell Hardcastle <nell@dev-nell.com> <nell@squishymedia.com>
Ross Blair <rosswilsonblair@gmail.com>
Robert Luke <code@robertluke.net>
Robert Luke <code@robertluke.net> <hello@robertluke.net>
Robert Luke <code@robertluke.net> <748691+rob-luke@users.noreply.github.com>
Ross Blair <rosswilsonblair@gmail.com> <rblair2@stanford.edu>
Sein Jeung <seinjeung@gmail.com>
Teal Hobson-Lowther <teal@squishymedia.com>
Teal Hobson-Lowther <teal@squishymedia.com> <tealhobsonlowther@gmail.com>
Yaroslav O. Halchenko <debian@onerussian.com>
Yuan Wang <wang17@ualberta.ca>
Yuan Wang <wang17@ualberta.ca> <35284474+konantian@users.noreply.github.com>
Zack Michael <zack@squishymedia.com>
Zack Michael <zack@squishymedia.com> <constellates@users.noreply.github.com>
Zack Michael <zack@squishymedia.com> <zachary0michael@gmail.com>
Zack Michael <zack@squishymedia.com> <zack@squishmedia.com>
